{% extends "layout.html" %}

{% block title %}
Django Tweets
{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">
    This is Our Django Tweet Demo
</h1>

<a class="btn btn-primary" href="{% url 'tweet_create' %}">Create Your Tweet</a>
<div class="container d-flex flex-wrap justify-content-center gap-3">
    {% for tweet in tweets %}
    <div class="card" style="width: 18rem;">
        {% if tweet.photo %}
        <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {% if user and tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
